[Desktop Entry]
Encoding=UTF-8
Name=Katapult
Exec=katapult
Icon=katapult
GenericName=KDE launcher
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;