#!/usr/bin/make -f

cdbs_kde_enable_debug = --disable-debug

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/kde.mk

cleanbuilddir/katapult::
	rm -f katapult.1

build/katapult::
	docbook2x-man debian/katapult.1.docbook

DEB_INSTALL_MANPAGES_katapult = katapult.1

install/katapult::
	install -D -o root -g root -m 0644 debian/lintian $(CURDIR)/debian/katapult/usr/share/lintian/overrides/katapult

